<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Title -->
    <title>Vue ToDoList</title>
  </head>
  <body>

    <header>
      <h1>Lista della Spesa Interattiva</h1>
    </header>

    <main>

      <h3>Cose da comprare:</h3>

      <div id="listaToDo">
        <ul>
          <li v-for="(item, index) in lista">{{item}}<span v-on:click="removeItem(index)">X</span></li>
        </ul>

        <input type="text" placeholder="Inserisci un nuovo item" v-model="newItem" @keyup.13="addItem">
        <button type="button" v-on:click="addItem">Inserisci</button>
      </div>

    </main>

    <!-- Vue (Development Version) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Js -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
